@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    display: initial;

    @apply overflow-x-hidden;
  }

  * {
    font-family: var(--font-dm);

    @apply tracking-tight;
  }

  input[type="range"] {
    -webkit-appearance: none;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    background: black;
    border-radius: 10000px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    height: 15px;
    width: 15px;
    border-radius: 1000px;
    background-color: black !important;
    border: 2px solid white;
    cursor: pointer;
  }
}

@layer utilities {
  .logo-outline-text {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
  }

  .sectionPadding {
    @apply px-24 py-12 md:px-4 lg:px-8;
  }
}
