@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    display: initial;

    @apply overflow-x-hidden;
  }

  * {
    font-family: var(--font-dm);

    @apply tracking-tight;
  }
}

@layer utilities {
  .logo-outline-text {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
  }

  .sectionPadding {
    @apply px-24 py-12 md:px-4 lg:px-8;
  }
}
