@import "../abstracts/variables";

.main {
  position: fixed;
  left: 30px;
  bottom: 30px;
  z-index: 699999999; // nice

  [data-admin-options] {
    background: $error-red;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    gap: 15px;

    &:hover {
      transform: scale(1.05);
    }
  }
}
