@import "../../abstracts/variables";
@import "../../abstracts/functions";
@import "../../abstracts/mixins";

.mainContainer {
  min-height: 100vh;
}

.header {
  border-bottom: 1px solid;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  @include mq("tablet") {
    justify-content: center;
    align-items: flex-end;

    &_left {
      flex-direction: column;
      justify-content: flex-end;

      &_filterData {
        flex-wrap: wrap;

        &::before {
          content: none;
          display: none;
          visibility: hidden;
          width: 0 !important;
          height: 0 !important;
        }
      }
    }
  }

  &_left {
    display: flex;
    gap: 30px;

    &_filterData {
      display: flex;
      gap: 10px;
      position: relative;

      &::before {
        content: "";
        width: 1px;
        height: 100%;
        background: $text-primary;
        position: absolute;
        left: -10px;
      }

      p {
        font-weight: GetFontWeight("bold");
      }
    }
  }
}

.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 25px;
  gap: 25px;
}
